@model List<EShop.Models.Product>
<div class="newproducts-w3agile">
    <div class="container">
        <h3>Khuyến Mãi</h3>
        <div class="agile_top_brands_grids">
            @foreach (var item in Model)
            {
                <div class="col-md-3 top_brand_left-1">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid_pos">
                                <img src="/Content/images/offer.png" alt=" " class="img-responsive">
                            </div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="@Url.Action("Single", "Product", new { area = "", productId = item.ProductId })"><img title=" " alt=" " src="@($"/ProductImages/{item.Title}")"></a>
                                            <p>@item.Title</p>
                                            <h4>@item.Price.ToString("c") <span>@item.DiscountPrice.ToString("c")</span></h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <div class="snipcart-details top_brand_home_details">
                                                <form action="#" method="post">
                                                    <input type="button" data-product-title="@item.Title" data-product-id="@item.ProductId" data-price="@item.Price" data-price-discount="@item.DiscountPrice" name="submit" value="Thêm vào giỏ" data-total="@item.Price" data-toggle="modal" class="button add-to-cart">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>