@model Tuple<List<EShop.Models.Product>, List<EShop.Models.Product>>
<div class="top-brands">
    <div class="container">
        <h2>Một số sản phẩm</h2>
        <div class="grid_3 grid_5">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">Bán chạy</a></li>
                    <li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Mới về</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
                        <div class="agile-tp">
                            <p class="w3l-ad"></p>
                        </div>

                        <div class="agile_top_brands_grids">
                            @foreach (var specialProduct in Model.Item1)
                            {
                                <div class="col-md-4 top_brand_left">
                                    <div class="hover14 column">
                                        <div class="agile_top_brand_left_grid">
                                            <div class="agile_top_brand_left_grid_pos">
                                                @if (specialProduct.IsSale)
                                                {
                                                    <img src="/Content/images/offer.png" alt=" " class="img-responsive" />
                                                }
                                            </div>
                                            <div class="agile_top_brand_left_grid1">
                                                <figure>
                                                    <div class="snipcart-item block">
                                                        <div class="snipcart-thumb">
                                                            <a href="@Url.Action("Single", "Product", new { productId = specialProduct.ProductId })"><img src="@($"/Content/ProductImages/{specialProduct.Image}")" alt=" " class="img-responsive"></a>
                                                            <p>@specialProduct.Title</p>
                                                            <h4>
                                                                @specialProduct.Price.ToString("c")
                                                                @if (specialProduct.IsSale)
                                                                {
                                                                    <span>@specialProduct.DiscountPrice</span>
                                                                }
                                                            </h4>
                                                        </div>
                                                        <div class="snipcart-details top_brand_home_details">
                                                            <form action="#" method="post">
                                                                <input type="button" data-product-title="@specialProduct.Title" data-product-id="@specialProduct.ProductId" data-price="@specialProduct.Price" data-price-discount="@specialProduct.DiscountPrice" name="submit" value="Thêm vào giỏ" data-total="@specialProduct.Price" data-toggle="modal" class="button add-to-cart">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">
                        <div class="agile-tp">
                            <p class="w3l-ad"></p>
                        </div>
                        <div class="agile_top_brands_grids">
                            <div class="agile_top_brands_grids">
                                @foreach (var saleProduct in Model.Item2)
                                {
                                    <div class="col-md-4 top_brand_left">
                                        <div class="hover14 column">
                                            <div class="agile_top_brand_left_grid">
                                                <div class="agile_top_brand_left_grid_pos">
                                                    @if (saleProduct.IsSale)
                                                    {
                                                        <img src="/Content/images/offer.png" alt=" " class="img-responsive" />
                                                    }
                                                </div>
                                                <div class="agile_top_brand_left_grid1">
                                                    <figure>
                                                        <div class="snipcart-item block">
                                                            <div class="snipcart-thumb">
                                                                <a href="@Url.Action("Single", "Product", new { productId = saleProduct.ProductId })"><img src="@($"/Content/ProductImages/{saleProduct.Image}")" alt=" " class="img-responsive"></a>
                                                                <p>@saleProduct.Title</p>
                                                                <h4>
                                                                    @saleProduct.Price.ToString("c")
                                                                    @if (saleProduct.IsSale)
                                                                    {
                                                                        <span>@saleProduct.DiscountPrice</span>
                                                                    }
                                                                </h4>
                                                            </div>
                                                            <div class="snipcart-details top_brand_home_details">
                                                                <form action="#" method="post">
                                                                    <input type="button" data-product-title="@saleProduct.Title" data-product-id="@saleProduct.ProductId" data-price="@saleProduct.Price" data-price-discount="@saleProduct.DiscountPrice" name="submit" value="Thêm vào giỏ" data-total="@saleProduct.Price" data-toggle="modal" class="button add-to-cart">
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="clearfix"> </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>