@model System.Collections.Generic.List<EShop.Models.Product>

@{
    ViewBag.Title = "Sản phấm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_BreadCrumbs", "Sản phẩm")

<div class="products">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="categories">
                <h2>danh mục</h2>
                <ul class="cate">
                    @Html.Action("MenuCategoryInProductPage", "Category", new { area = "" })
                </ul>
            </div>
        </div>
        <div class="col-md-8 products-right">
            <div class="products-right-grid">
                <div class="products-right-grids">
                    <div class="sorting">
                        <select id="product-sort" url-action="@Url.Action("Sort", "Product", new { area = "" })" class="frm-field required sect">
                            <option value="null">Default sorting</option>
                            <option value="Price">xếp theo giá</option>
                            <option value="Date">Xếp theo ngày</option>
                        </select>
                    </div>
                    <div class="sorting-left">
                        <select id="product-show-number-items" class="frm-field required sect">
                            <option value="9">9 sản phẩm mỗi trang</option>
                            <option value="18">18 sản phẩm mỗi trang</option>
                            <option value="32">32 sản phẩm mỗi trang</option>
                            <option value="-1">All</option>
                        </select>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            @foreach (var product in Model)
            {
                <div class="col-md-4 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            @if (product.IsSale)
                            {
                                <div class="agile_top_brand_left_grid_pos">
                                    <img src="/Content/images/offer.png" alt=" " class="img-responsive">
                                </div>
                                <div class="agile_top_brand_left_grid_pos">
                                    <img src="/Content/images/offer.png" alt=" " class="img-responsive">
                                </div>
                            }

                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="@Url.Action("Single", "Product", new { productId = product.ProductId })"><img src="@($"/Content/ProductImages/{product.Image}")" alt=" " class="img-responsive"></a>
                                            <p>@product.Title</p>
                                            <h4>
                                                @product.Price.ToString("c")

                                                @if (product.IsSale)
                                                {
                                                    <span>@product.DiscountPrice.ToString("C")</span>
                                                }
                                            </h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <input type="button" data-product-title="@product.Title" data-product-id="@product.ProductId" data-price="@product.Price" data-price-discount="@product.DiscountPrice" name="submit" value="Thêm vào giỏ" data-total="@product.Price" data-toggle="modal" class="button add-to-cart">
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <nav class="numbering">
            <ul class="pagination paging">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="clearfix"> </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/ProductByCategory/ProductByCategory.js"></script>
}
